﻿<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from themes.rokaux.com/solufash/v3.2.1/template-1/home-dark-header.html by HTTrack Website Copier/3.x [XR&CO'2017], Thu, 21 May 2020 13:15:29 GMT -->
<head>
    <meta charset="utf-8">
    <title>
        SoluFash | Hottest Brands
    </title>
    <!-- SEO Meta Tags-->
    <meta name="description" content="SoluFash -  Hottest Brands">
    <meta name="keywords" content="shop, e-commerce, modern, flat style, responsive, online store, business, mobile, blog, bootstrap 4, html5, css3, jquery, js, gallery, slider, touch, creative, clean">
    <meta name="author" content="Rokaux">
    <!-- Mobile Specific Meta Tag-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- Favicon and Apple Icons-->
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="icon" type="image/png" href="favicon.png">
    <link rel="apple-touch-icon" href="touch-icon-iphone.png">
    <link rel="apple-touch-icon" sizes="152x152" href="touch-icon-ipad.png">
    <link rel="apple-touch-icon" sizes="180x180" href="touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="167x167" href="touch-icon-ipad-retina.png">
    <!-- Vendor Styles including: Bootstrap, Font Icons, Plugins, etc.-->
    <link rel="stylesheet" media="screen" href="~/Content/E-com/css/vendor.min.css">
    <!-- Main Template Styles-->
    <link id="mainStyles" rel="stylesheet" media="screen" href="~/Content/E-com/css/styles.min.css">
    <!-- Customizer Styles-->
    <link rel="stylesheet" media="screen" href="~/Content/E-com/customizer/customizer.min.css">
    <!-- Google Tag Manager-->
    <script>
        (function (w, d, s, l, i) {
        w[l] = w[l] || []; w[l].push({
            'gtm.start':
                new Date().getTime(), event: 'gtm.js'
        }); var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                '../../../../www.googletagmanager.com/gtm5445.html' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-T4DJFPZ');

    </script>
    <!-- Modernizr-->
    <script src="~/Content/E-com/js/modernizr.min.js"></script>
</head>
<!-- Body-->
<body>
    <!-- Google Tag Manager (noscript)-->
    <noscript>
        <iframe src="../../../../external.html?link=http://www.googletagmanager.com/ns.html?id=GTM-T4DJFPZ" height="0" width="0" style="display: none; visibility: hidden;"></iframe>
    </noscript>
    <!-- Template Customizer-->
    <div class="customizer-backdrop"></div>
    <div class="customizer">
        <div class="customizer-toggle"><i class="icon-cog"></i></div>
        <div class="customizer-body">
            <div class="btn-group mb-4">
                <button class="btn btn-white btn-rounded btn-block dropdown-toggle my-0" type="button" data-toggle="dropdown">Choose Template</button>
                <div class="dropdown-menu"><a class="dropdown-item" href="index.html">Template 1 (Clothing)</a><a class="dropdown-item" href="../../../../external.html?link=http://themes.rokaux.com/solufash/v3.2.1/template-2/index.html">Template 2 (Furniture)</a><a class="dropdown-item" href="../../../../external.html?link=http://themes.rokaux.com/unishop/v3.2.1/template-3/index.html">Template 3 (Electronics)</a></div>
            </div>
            <div class="customizer-title">Choose color</div>
            <div class="customizer-color-switch"><a class="active" href="#" data-color="default" style="background-color: #0da9ef;"></a><a href="#" data-color="2ecc71" style="background-color: #2ecc71;"></a><a href="#" data-color="f39c12" style="background-color: #f39c12;"></a><a href="#" data-color="e74c3c" style="background-color: #e74c3c;"></a></div>
            <div class="customizer-title">Header option</div>
            <div class="form-group">
                <select class="form-control form-control-rounded input-light" id="header-option">
                    <option value="sticky">Sticky</option>
                    <option value="static">Static</option>
                </select>
            </div>
            <div class="customizer-title">Footer option</div>
            <div class="form-group">
                <select class="form-control form-control-rounded input-light" id="footer-option">
                    <option value="dark">Dark</option>
                    <option value="light">Light</option>
                </select>
            </div><a class="btn btn-primary btn-rounded btn-block margin-bottom-none" href="../../../../external.html?link=https://wrapbootstrap.com/theme/solufash-universal-e-commerce-template-WB0148688/?ref=rokaux">Buy solufash</a>
        </div>
    </div>
    <!-- Off-Canvas Category Menu-->
    <div class="offcanvas-container" id="shop-categories">
        <div class="offcanvas-header">
            <h3 class="offcanvas-title">Shop Categories</h3>
        </div>
        <nav class="offcanvas-menu">
            <ul class="menu">
                <li class="has-children">
                    <span><a href="#">Men's Shoes</a><span class="sub-menu-toggle"></span></span>
                    <ul class="offcanvas-submenu">
                        <li><a href="#">Sneakers</a></li>
                        <li><a href="#">Loafers</a></li>
                        <li><a href="#">Boat Shoes</a></li>
                        <li><a href="#">Sandals</a></li>
                        <li><a href="#">View All</a></li>
                    </ul>
                </li>
                <li class="has-children">
                    <span><a href="#">Women's Shoes</a><span class="sub-menu-toggle"></span></span>
                    <ul class="offcanvas-submenu">
                        <li><a href="#">Sandals</a></li>
                        <li><a href="#">Flats</a></li>
                        <li><a href="#">Sneakers</a></li>
                        <li><a href="#">Heels</a></li>
                        <li><a href="#">View All</a></li>
                    </ul>
                </li>
                <li class="has-children">
                    <span><a href="#">Men's Clothing</a><span class="sub-menu-toggle"></span></span>
                    <ul class="offcanvas-submenu">
                        <li><a href="#">Shirts &amp; Tops</a></li>
                        <li><a href="#">Pants</a></li>
                        <li><a href="#">Jackets</a></li>
                        <li><a href="#">View All</a></li>
                    </ul>
                </li>
                <li class="has-children">
                    <span><a href="#">Women's Clothing</a><span class="sub-menu-toggle"></span></span>
                    <ul class="offcanvas-submenu">
                        <li><a href="#">Dresses</a></li>
                        <li><a href="#">Shirts &amp; Tops</a></li>
                        <li><a href="#">Shorts</a></li>
                        <li><a href="#">Swimwear</a></li>
                        <li><a href="#">View All</a></li>
                    </ul>
                </li>
                <li class="has-children">
                    <span><a href="#">Kid's Shoes</a><span class="sub-menu-toggle"></span></span>
                    <ul class="offcanvas-submenu">
                        <li><a href="#">Boots</a></li>
                        <li><a href="#">Sandals</a></li>
                        <li><a href="#">Crib Shoes</a></li>
                        <li><a href="#">Loafers</a></li>
                        <li><a href="#">View All</a></li>
                    </ul>
                </li>
                <li class="has-children">
                    <span><a href="#">Bags</a><span class="sub-menu-toggle"></span></span>
                    <ul class="offcanvas-submenu">
                        <li><a href="#">Handbags</a></li>
                        <li><a href="#">Backpacks</a></li>
                        <li><a href="#">Luggage</a></li>
                        <li><a href="#">Wallets</a></li>
                        <li><a href="#">View All</a></li>
                    </ul>
                </li>
                <li class="has-children">
                    <span><a href="#">Accessories</a><span class="sub-menu-toggle"></span></span>
                    <ul class="offcanvas-submenu">
                        <li><a href="#">Sunglasses</a></li>
                        <li><a href="#">Hats</a></li>
                        <li><a href="#">Watches</a></li>
                        <li><a href="#">Jewelry</a></li>
                        <li><a href="#">Belts</a></li>
                        <li><a href="#">View All</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
    <!-- Off-Canvas Mobile Menu-->
    <div class="offcanvas-container" id="mobile-menu">
        <a class="account-link" href="account-orders.html">
            <div class="user-ava">
                <img src="~/Content/E-com/img/account/user-ava-md.jpg" alt="Daniel Adams">
            </div>
            <div class="user-info">
                <h6 class="user-name">Daniel Adams</h6><span class="text-sm text-white opacity-60">290 Reward points</span>
            </div>
        </a>
        <nav class="offcanvas-menu">
            <ul class="menu">
                <li class="has-children active">
                    <span><a href="index.html"><span>Home</span></a><span class="sub-menu-toggle"></span></span>
                    <ul class="offcanvas-submenu">
                        <li class="active"><a href="index.html">Featured Products Slider</a></li>
                        <li><a href="home-featured-categories.html">Featured Categories</a></li>
                        <li><a href="home-collection-showcase.html">Products Collection Showcase</a></li>
                        <li><a href="home-dark-header.html">Dark Header</a></li>
                    </ul>
                </li>
                <li class="has-children">
                    <span><a href="shop-grid-ls.html"><span>Shop</span></a><span class="sub-menu-toggle"></span></span>
                    <ul class="offcanvas-submenu">
                        <li><a href="shop-categories.html">Shop Categories</a></li>
                        <li class="has-children">
                            <span><a href="shop-grid-ls.html"><span>Shop Grid</span></a><span class="sub-menu-toggle"></span></span>
                            <ul class="offcanvas-submenu">
                                <li><a href="shop-grid-ls.html">Grid Left Sidebar</a></li>
                                <li><a href="shop-grid-rs.html">Grid Right Sidebar</a></li>
                                <li><a href="shop-grid-ns.html">Grid No Sidebar</a></li>
                            </ul>
                        </li>
                        <li class="has-children">
                            <span><a href="shop-list-ls.html"><span>Shop List</span></a><span class="sub-menu-toggle"></span></span>
                            <ul class="offcanvas-submenu">
                                <li><a href="shop-list-ls.html">List Left Sidebar</a></li>
                                <li><a href="shop-list-rs.html">List Right Sidebar</a></li>
                                <li><a href="shop-list-ns.html">List No Sidebar</a></li>
                            </ul>
                        </li>
                        <li><a href="shop-single.html">Single Product</a></li>
                        <li><a href="cart.html">Cart</a></li>
                        <li><a href="checkout.html">Checkout</a></li>
                    </ul>
                </li>
                <li class="has-children">
                    <span><a href="#">Categories</a><span class="sub-menu-toggle"></span></span>
                    <ul class="offcanvas-submenu">
                        <li class="has-children">
                            <span><a href="#">Men's Shoes</a><span class="sub-menu-toggle"></span></span>
                            <ul class="offcanvas-submenu">
                                <li><a href="#">Sneakers</a></li>
                                <li><a href="#">Loafers</a></li>
                                <li><a href="#">Boat Shoes</a></li>
                                <li><a href="#">Sandals</a></li>
                                <li><a href="#">View All</a></li>
                            </ul>
                        </li>
                        <li class="has-children">
                            <span><a href="#">Women's Shoes</a><span class="sub-menu-toggle"></span></span>
                            <ul class="offcanvas-submenu">
                                <li><a href="#">Sandals</a></li>
                                <li><a href="#">Flats</a></li>
                                <li><a href="#">Sneakers</a></li>
                                <li><a href="#">Heels</a></li>
                                <li><a href="#">View All</a></li>
                            </ul>
                        </li>
                        <li class="has-children">
                            <span><a href="#">Men's Clothing</a><span class="sub-menu-toggle"></span></span>
                            <ul class="offcanvas-submenu">
                                <li><a href="#">Shirts &amp; Tops</a></li>
                                <li><a href="#">Pants</a></li>
                                <li><a href="#">Jackets</a></li>
                                <li><a href="#">View All</a></li>
                            </ul>
                        </li>
                        <li class="has-children">
                            <span><a href="#">Women's Clothing</a><span class="sub-menu-toggle"></span></span>
                            <ul class="offcanvas-submenu">
                                <li><a href="#">Dresses</a></li>
                                <li><a href="#">Shirts &amp; Tops</a></li>
                                <li><a href="#">Shorts</a></li>
                                <li><a href="#">Swimwear</a></li>
                                <li><a href="#">View All</a></li>
                            </ul>
                        </li>
                        <li class="has-children">
                            <span><a href="#">Bags</a><span class="sub-menu-toggle"></span></span>
                            <ul class="offcanvas-submenu">
                                <li><a href="#">Handbags</a></li>
                                <li><a href="#">Backpacks</a></li>
                                <li><a href="#">Luggage</a></li>
                                <li><a href="#">Wallets</a></li>
                                <li><a href="#">View All</a></li>
                            </ul>
                        </li>
                        <li class="has-children">
                            <span><a href="#">Accessories</a><span class="sub-menu-toggle"></span></span>
                            <ul class="offcanvas-submenu">
                                <li><a href="#">Sunglasses</a></li>
                                <li><a href="#">Hats</a></li>
                                <li><a href="#">Watches</a></li>
                                <li><a href="#">Jewelry</a></li>
                                <li><a href="#">Belts</a></li>
                                <li><a href="#">View All</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="has-children">
                    <span><a href="account-orders.html"><span>Account</span></a><span class="sub-menu-toggle"></span></span>
                    <ul class="offcanvas-submenu">
                        <li><a href="account-login.html">Login / Register</a></li>
                        <li><a href="account-password-recovery.html">Password Recovery</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
    <!-- Topbar-->
    <div class="topbar topbar-dark bg-dark">
        <div class="topbar-column">
            <a class="hidden-md-down" href="mailto:solufash@solufash.com"><i class="icon-mail"></i>&nbsp; support@solufash.com</a><a class="hidden-md-down" href="tel:00331697720"><i class="icon-bell"></i>&nbsp; 00 33 169 7720</a><a class="social-button sb-facebook shape-none sb-light-skin" href="#" target="_blank"><i class="socicon-facebook"></i></a><a class="social-button sb-twitter shape-none sb-light-skin" href="#" target="_blank"><i class="socicon-twitter"></i></a><a class="social-button sb-instagram shape-none sb-light-skin" href="#" target="_blank"><i class="socicon-instagram"></i></a><a class="social-button sb-pinterest shape-none sb-light-skin" href="#" target="_blank"><i class="socicon-pinterest"></i></a>
        </div>
        <div class="topbar-column">
            <a class="hidden-md-down" href="#"><i class="icon-download"></i>&nbsp; Get mobile app</a>
            <div class="lang-currency-switcher-wrap">
                <div class="lang-currency-switcher dropdown-toggle"><span class="language"><img alt="English" src="~/Content/E-com/img/flags/GB.png"></span><span class="currency">$ USD</span></div>
                <div class="dropdown-menu">
                    <div class="currency-select">
                        <select class="form-control form-control-rounded form-control-sm">
                            <option value="usd">$ USD</option>
                            <option value="usd">€ EUR</option>
                            <option value="usd">£ UKP</option>
                            <option value="usd">¥ JPY</option>
                        </select>
                    </div><a class="dropdown-item" href="#"><img src="~/Content/E-com/img/flags/FR.png" alt="Français">Français</a><a class="dropdown-item" href="#"><img src="~/Content/E-com/img/flags/DE.png" alt="Deutsch">Deutsch</a><a class="dropdown-item" href="#"><img src="~/Content/E-com/img/flags/IT.png" alt="Italiano">Italiano</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Navbar-->
    <!-- Remove "navbar-sticky" class to make navigation bar scrollable with the page.-->
    <header class="navbar navbar-sticky navbar-dark bg-dark">
        <!-- Search-->
        <form class="site-search" method="get">
            <input type="text" name="site_search" placeholder="Type to search...">
            <div class="search-tools"><span class="clear-search">Clear</span><span class="close-search"><i class="icon-cross"></i></span></div>
        </form>
        <div class="site-branding">
            <div class="inner">
                <!-- Off-Canvas Toggle (#shop-categories)--><a class="offcanvas-toggle cats-toggle" href="#shop-categories" data-toggle="offcanvas"></a>
                <!-- Off-Canvas Toggle (#mobile-menu)--><a class="offcanvas-toggle menu-toggle" href="#mobile-menu" data-toggle="offcanvas"></a>
                <!-- Site Logo--><a class="site-logo light-logo" href="index.html"><img src="~/Content/E-com/img/logo/logo-light.png" alt="Unishop"></a><a class="site-logo logo-stuck" href="index.html"><img src="~/Content/E-com/img/logo/logo.png" alt="Unishop"></a>
            </div>
        </div>
        <!-- Main Navigation-->
        <nav class="site-menu">
            <ul>
                <li class="has-megamenu active">
                    <a href="index.html"><span>Home</span></a>
                </li>
                <li>
                </li>
                <li class="has-megamenu">
                    <a href="#"><span>Shop Menu</span></a>
                    <ul class="mega-menu">
                        <li>
                            <span class="mega-menu-title">Top Categories</span>
                            <ul class="sub-menu">
                                <li><a href="#">Women's Shoes</a></li>
                                <li><a href="#">Men's Shoes</a></li>
                                <li><a href="#">Women CLothing</a></li>
                                <li><a href="#">Men's Clothing</a></li>
                                <li><a href="#">Kids Shoes</a></li>
                                <li><a href="#">Kid's Clothing</a></li>
                            </ul>
                        </li>
                        <li>
                            <span class="mega-menu-title">Specialty Shops</span>
                            <ul class="sub-menu">
                                <li><a href="#">Bags</a></li>
                                <li><a href="#">Accessories</a></li>
                                <li><a href="#">Handbags</a></li>
                                <li><a href="#">Backpacks</a></li>
                                <li><a href="#">Luggage</a></li>
                                <li><a href="#">View All</a></li>
                            </ul>
                        </li>
                        <li>
                            <section class="promo-box" style="background-image: url(img/banners/02.jpg);">
                                <span class="overlay-dark" style="opacity: .4;"></span>
                                <div class="promo-box-content text-center padding-top-2x padding-bottom-2x">
                                    <h4 class="text-light text-thin text-shadow">New Collection of</h4>
                                    <h3 class="text-bold text-light text-shadow">Sunglasses</h3><a class="btn btn-sm btn-primary" href="#">Shop Now</a>
                                </div>
                            </section>
                        </li>
                        <li>
                            <section class="promo-box" style="background-image: url(img/banners/03.jpg);">
                                <!-- Choose between .overlay-dark (#000) or .overlay-light (#fff) with default opacity of 50%. You can overrride default color and opacity values via 'style' attribute.--><span class="overlay-dark" style="opacity: .45;"></span>
                                <div class="promo-box-content text-center padding-top-2x padding-bottom-2x">
                                    <h3 class="text-bold text-light text-shadow">Limited Offer</h3>
                                    <h4 class="text-light text-thin text-shadow">save up to 50%!</h4><a class="btn btn-sm btn-primary" href="#">Learn More</a>
                                </div>
                            </section>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="blog-rs.html"><span>Blog</span></a>
                </li>
                <li>
                    <a href="account-orders.html"><span>Register</span></a>
                    <ul class="sub-menu">
                        <li><a href="account-login.html">Login / Register</a></li>
                        <li><a href="account-password-recovery.html">Password Recovery</a></li>
                    </ul>
                </li>
            </ul>
            </nav>
        <!-- Toolbar-->
    </header>
    <!-- Off-Canvas Wrapper-->
    <div class="offcanvas-wrapper">
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
        @RenderBody()
        <hr />
        <!-- Site Footer-->
        <footer class="site-footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <!-- Contact Info-->
                        <section class="widget widget-light-skin">
                            <h3 class="widget-title">Get In Touch With Us</h3>
                            <p class="text-white">Phone: 00 33 169 7720</p>
                            <ul class="list-unstyled text-sm text-white">
                                <li><span class="opacity-50">Monday-Friday:</span>9.00 am - 8.00 pm</li>
                                <li><span class="opacity-50">Saturday:</span>10.00 am - 6.00 pm</li>
                            </ul>
                            <p><a class="navi-link-light" href="#">support@SoluFash.com</a></p><a class="social-button shape-circle sb-facebook sb-light-skin" href="#"><i class="socicon-facebook"></i></a><a class="social-button shape-circle sb-twitter sb-light-skin" href="#"><i class="socicon-twitter"></i></a><a class="social-button shape-circle sb-instagram sb-light-skin" href="#"><i class="socicon-instagram"></i></a><a class="social-button shape-circle sb-google-plus sb-light-skin" href="#"><i class="socicon-googleplus"></i></a>
                        </section>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <!-- Mobile App Buttons-->
                        <section class="widget widget-light-skin">
                            <h3 class="widget-title">Our Mobile App</h3><a class="market-button apple-button mb-light-skin" href="#"><span class="mb-subtitle">Download on the</span><span class="mb-title">App Store</span></a><a class="market-button google-button mb-light-skin" href="#"><span class="mb-subtitle">Download on the</span><span class="mb-title">Google Play</span></a><a class="market-button windows-button mb-light-skin" href="#"><span class="mb-subtitle">Download on the</span><span class="mb-title">Windows Store</span></a>
                        </section>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <!-- About Us-->
                        <section class="widget widget-links widget-light-skin">
                            <h3 class="widget-title">About Us</h3>
                            <ul>
                                <li><a href="#">Careers</a></li>
                                <li><a href="#">About Unishop</a></li>
                                <li><a href="#">Our Story</a></li>
                                <li><a href="#">Services</a></li>
                                <li><a href="#">Our Blog</a></li>
                            </ul>
                        </section>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <!-- Account / Shipping Info-->
                        <section class="widget widget-links widget-light-skin">
                            <h3 class="widget-title">Account &amp; Shipping Info</h3>
                            <ul>
                                <li><a href="#">Your Account</a></li>
                                <li><a href="#">Shipping Rates & Policies</a></li>
                                <li><a href="#">Refunds & Replacements</a></li>
                                <li><a href="#">Taxes</a></li>
                                <li><a href="#">Delivery Info</a></li>
                                <li><a href="#">Affiliate Program</a></li>
                            </ul>
                        </section>
                    </div>
                </div>
                <hr class="hr-light mt-2 margin-bottom-2x">
                <div class="row">
                    <div class="col-md-7 padding-bottom-1x">
                        <!-- Payment Methods-->
                        <div class="margin-bottom-1x" style="max-width: 615px;">
                            <img src="~/Content/E-com/img/payment_methods.png" alt="Payment Methods">
                        </div>
                    </div>
                    <div class="col-md-5 padding-bottom-1x">
                        <div class="margin-top-1x hidden-md-up"></div>
                        <!--Subscription-->
                        <form class="subscribe-form" action="../../../../external.html?link=http://rokaux.us12.list-manage.com/subscribe/post?u=c7103e2c981361a6639545bd5&amp;amp;id=1194bb7544" method="post" target="_blank" novalidate>
                            <div class="clearfix">
                                <div class="input-group input-light">
                                    <input class="form-control" type="email" name="EMAIL" placeholder="Your e-mail"><span class="input-group-addon"><i class="icon-mail"></i></span>
                                </div>
                                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                <div style="position: absolute; left: -5000px;" aria-hidden="true">
                                    <input type="text" name="b_c7103e2c981361a6639545bd5_1194bb7544" tabindex="-1">
                                </div>
                                <button class="btn btn-primary" type="submit"><i class="icon-check"></i></button>
                            </div><span class="form-text text-sm text-white opacity-50">Subscribe to our Newsletter to receive early discount offers, latest news, sales and promo information.</span>
                        </form>
                    </div>
                </div>
                <!-- Copyright-->
                <p class="footer-copyright">© All rights reserved. Made with &nbsp;<i class="icon-heart text-danger"></i><a href="../../../../external.html?link=http://rokaux.com/" target="_blank"> &nbsp;by rokaux</a></p>
            </div>
        </footer>
    </div>
    <!-- Back To Top Button--><a class="scroll-to-top-btn" href="#"><i class="icon-arrow-up"></i></a>
    <!-- Backdrop-->
    <div class="site-backdrop"></div>
    <!-- JavaScript (jQuery) libraries, plugins and custom scripts-->
    <script src="~/Content/E-com/js/vendor.min.js"></script>
    <script src="~/Content/E-com/js/scripts.min.js"></script>
    <!-- Customizer scripts-->
    <script src="~/Content/E-com/customizer/customizer.min.js"></script>
</body>

<!-- Mirrored from themes.rokaux.com/solufash/v3.2.1/template-1/home-dark-header.html by HTTrack Website Copier/3.x [XR&CO'2017], Thu, 21 May 2020 13:15:29 GMT -->
</html>